* {
  box-sizing: border-box;
}
html{

  
   
}
.split {
  display: flex;
}


.pane {
  background-color: antiquewhite;
}
/*--------------------------Global-------------------------------------*/
/*--------------------------Sidebar-------------------------------------*/
.sidebar {
  width: 20%;
  height: 10;
  background-color: antiquewhite;
}
/*--------------------------Sidebar-------------------------------------*/
/*--------------------------Editor-------------------------------------*/
.editor {
  width: 80%;
  height: 100vh;
  font-family: 1rem;
}

/*--------------------------Editor-------------------------------------*/